## Лабораторная работа по курсу «Основы Python»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дан список:

In [1]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [4]:
sum(filter(lambda x: (x > 10 and x < 100) or (x > 200 and x < 500), list_01))

1291

#### Задача 2

Дана строка:

In [9]:
some_string = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [5]:
import re

In [11]:
def word_start_with(start, some_string):
    return re.findall(r'\b{}\w*'.format(start), some_string)

In [14]:
word_start_with('w', some_string)

['written', 'winners', 'winner', 'writes', 'which']

#### Задача 3

Напишите функцию, которая генерирует случайную последовательность из 6 цифр, причем в этой последовательности должна быть как минимум одна цифра 3. Позиция 3 определяться случайным образом. Например: "456379" или "033456".

In [15]:
from random import randint

In [19]:
def gen_number_seq(count: int):
    seq = [randint(0,9) for _ in range (count)]
    seq[randint(0, count - 1)] = 3
    return ''.join(map(str, seq))

In [24]:
gen_number_seq(6)

'363364'

#### Задача 4

Данные студентов представлены в виде списка списков:

In [25]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
["4014", "Потапов", "Дмитрий", "Станиславович", "14.02.2012", "БСТ161"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [27]:
students_dict = {key: args for key, *args in students}
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

2. Напишите функцию, которая принимает номер группы и выводит пронумерованный и упорядоченный по алфавиту список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [41]:
def students_by_group(group: str, dict_: dict):
    filtered =  [f'{f} {i} {o}' for f, i, o, *_ in filter(lambda x: x[4] == group, dict_.values())]
    return list(enumerate(sorted(filtered)))

In [42]:
students_by_group('БСТ161', students_dict)

[(0, 'Антонов Антон Игоревич'),
 (1, 'Боков Игорь Харитонович'),
 (2, 'Потапов Дмитрий Станиславович'),
 (3, 'Степанова Наталья Александровна')]

#### Задача 5

Создайте класс Student, который создает объекты с данными о студентах (как в задаче 4). Класс должен иметь следующие методы: add_to_dict (добавляет объект в словарь из задачи 4), update_dict (обновляет запись о студенте в словаре из задачи 4), change_group (изменяет номер группы студента), change_id (изменяет номер студента) и print_date (выводит на экран данные студента).

In [61]:
class Student:
    def __init__(self, s_id, last_name, first_name, patronomic_name, date, group):
        self.s_id = s_id
        self.last_name = last_name
        self.first_name = first_name
        self.patronomic_name = patronomic_name
        self.date = date
        self.group = group
        
    def add_to_dict(self):
        students_dict[self.s_id] = [self.last_name,
                                  self.first_name,
                                  self.patronomic_name,
                                  self.date,
                                  self.group]
        
    def update_dict(self):
        self.add_to_dict()
        
        
    def change_group(self, new_group):
        self.group = new_group
        self.update_dict()
        
        
    def change_id(self, new_id):
        del students_dict[self.s_id]
        self.s_id = new_id
        self.add_to_dict()
        
        
    def print_data(self):
        print(f'{self.s_id}: {self.last_name} {self.first_name} {self.patronomic_name} - {self.date} - {self.group}')

1. Создайте объект класса, добавьте его в словарь. Обновленный словарь выведете на экран.

In [64]:
volkova = Student('0001', 'Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100')

In [55]:
volkova.add_to_dict()
students_dict

{'0001': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

2. Измените номер группы студентки Волковой на 'БСТ161' и выведите обновленный список группы.

In [66]:
volkova.change_group('БСТ161')
students_dict

{'0001': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

In [67]:
volkova.print_data()

0001: Волкова Галина Сергеевна - 18.12.2022 - БСТ161

#### Задача 6

Дана матрица matrix. Напишите код, который будет транспонировать её (то есть, делать из строк столбцы) в maytix_t:

matrix_t = [
    [0, 6, 3, 4, 5],
    [1, 2, 3, 6, 7],
    [2, 2, 3, 7, 3],
    [4, 1, 3, 1, 4],
    [8, 9, 3, 2, 0]
]

In [70]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

In [75]:
[[matrix[i][j] for i in range(len(matrix[0]))] for j in range(len(matrix))]

[[0, 6, 3, 4, 5],
 [1, 2, 3, 6, 7],
 [2, 2, 3, 7, 3],
 [4, 1, 3, 1, 4],
 [8, 9, 3, 2, 0]]